= form_with model: @incident, local: true do |form|
  - if @incident.errors.any?
    #error_explanation
      %h2= "#{pluralize(@incident.errors.count, 'error')} prohibited this incident from being saved"

      %ul
        - @incident.errors.full_messages.each do |message|
          %li= message

  .row
    .col-sm-3
      = form.label :school
    .col-sm-9
      = form.collection_select(:school_id, School.all, :id, :name)

  %hr

  .row
    .col-sm-3
      = form.label :description, "Describe Issue/Incident"
    .col-sm-9
      = form.text_area :description, rows: 8, cols: 50

  %hr

  .row
    = form.fields_for :incident_pictures do | pic |
      .col-sm-3
        = pic.label :picture
      .col-sm-9
        = pic.file_field :picture, multiple: true, name: "incident_pictures[picture][]", accept: 'image/png,image/gif,image/jpeg'

  %hr

  .row
    .col-sm-3
    .col-sm-9
      = form.submit "Submit & Next", class: 'btn btn-primary'
      = form.submit "Submit", class: 'btn btn-secondary'
      